
@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Ajuste la configuración de la herramienta";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p class="lead">Realice modificaciones con mucho cuidado, los cambios se verán de forma inmediata en la herramienta.</p>


