@model App_consulta.Models.ApplicationRole
@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>Editar rol</h4>
<form id="formIndicador" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="NormalizedName" type="hidden" />
    <input asp-for="ConcurrencyStamp" type="hidden" />

    <div class="form-group row">
        <label asp-for="Name" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row row">
        <label class="col-md-3 col-form-label">Permisos</label>
        <div class="col-sm-9">
            <div class="row">
                @foreach (PermisoDataModel p in ViewBag.Permisos)
                {
                    <div class="col-sm-6">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" @(p.valor == "1" ? "checked": "") class="custom-control-input" id="p_@p.id" name="p_@p.id" value="1" />
                            <label for="p_@p.id" class="custom-control-label">@p.texto</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>

</form>


